.ConnectButton {
	/* Style */
	background: none;
	border: 2px solid var(--flat-gold);
	background: #000000;
	border-radius: 37px;
	/* Size */
	min-width: 215px;
	margin: 10px;
	text-align: center;
	/* Text */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
}

.BalanceButton {
	/* Style */
	background: none;
	border: 2px solid var(--flat-gold);
	background: #019be8;;
	border-radius: 37px;
	/* Size */
	min-width: 215px;
	margin: 10px;
	margin-left: auto;
	text-align: center;
	/* Text */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
}

.ConnectButton:hover {
	background: black;
	border: 2px solid white;
	color: white;
}

.ConnectButton:focus {
	background: black;
	border: 2px solid var(--flat-gold);
	box-shadow: none;
}

.ConnectButton:active:focus {
	background: var(--flat-gold);
	border: 2px solid var(--flat-gold);
	box-shadow: none;
}
